@CHARSET "UTF-8";

#adBlock {
	top:100px;
	left:200px;
	width:1720px;
	height:815px;
	position:absolute;
	overflow: hidden;
	z-index:100;
	border-top-left-radius:400px ;

}
#adBlock ul.list {
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	width: 9999px;
	height: 100%;
}
#adBlock ul.list li {
	float: left;
	width: 1720px;
	height: 100%;
}
#adBlock .list img{
	width: 100%;
	height: 100%;
	border: 0;
}
#adBlock ul.playerControl {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	bottom: 5px;
	right: 5px;
	height: 14px;
}
#adBlock ul.playerControl li {
	float: left;
	width: 14px;
	height: 14px;
	cursor: pointer;
	margin: 0px 2px;
	background: url(../images/ad/circle.png) no-repeat 0 0;
}
#adBlock ul.playerControl li.current { 
	background-position: 0 0;
}
.current{
	opacity:0.6;
}
#skip{
	z-index:10;
	list-style: none;
	position:relative;
	font-size:x-large;
	text-align:center;
	margin-top: 766px;
	cursor: pointer;
	color:#AAAAAA;
	background:rgba(139, 115, 85, 0.6) ;
	width:10%;
	float:right;
	border-top-left-radius:15px ;
}