.colorA {
font-size:large ;background-color:#323333;border-color:#AAAAAA;color:#DDDDDD;outline-color:#DDDDDD
}
#menu{
		overflow:auto !important;
		overflow /**/:hidden;
			
			border-bottom:1px solid #DDDDDD;
			margin: 0px
	}

.leftlabel li{
         	    float:left;
         	    list-style-type:none;
         	    width:3em;
         	     
         }
         .leftlabel li a{
         	/*font-family:"Arial Narrow";*/
         	font-family:"Arial Narrow";
         	letter-spacing: 1px
         }
.rightlabel li{
         	    float:right;
         	    list-style-type:none;
         	    width:6em;     	         	    
         }
         .rightlabel li a{
         	font-family:"Arial Narrow";
         	letter-spacing: 1px;
         	
         }
#menu li a{
         	      
         	     font-size:small;     	     
         	     line-height:1em;
         	     color:		#AAAAAA;
         	     text-decoration:none;
         	     /*text-align:center;  */       	     
         }
         
#menu li a:hover {color:black;
			   
}
#content {
	background-color: black;
   
	
}
#secmenu{
		overflow:auto !important;
		overflow /**/:hidden;
			 width:100%;
			border-bottom:1px solid #DDDDDD;
			border-collapse:collapse;
            text-align:center;
			/*margin: 0;*/
			/*padding: 0;*/
			
		}
#secmenu td a{
			font-size:large;
			text-decoration:none;
		}
		#lsl{
         	    float:left;
         	    width: 20%;
         	    text-align: center; 
         	    margin:0 auto
         	    
         	         	    
       }
         .msl{  
         	   
         	    padding:24px;
         	    width:8%;
         	    /*display: inline-block;*/      	    
         }
         .msl a {
         	font-weight:bolder;
         	color:#000000;
         	text-align:center;
         	font-family:"Arial Narrow";
         	
         }
         
         .msl a:hover{
         	padding:20px 0px;
         	border-bottom: 3px solid black;
         	/*text-align: center;*/
         	
         }
         #rsl{
         		
         		line-height: 10px;
         	    float:right;
         	    list-style-type:none;
         	    width: 25%;
         	    text-align: center;
         	    margin: 10px auto  	    
         }
         #footermenu{
			overflow:auto !important;
			overflow /**/:hidden;
			border-top:1px solid #DDDDDD;
			margin: 0;
			
		 }#footermenu li {
		 	float:left;
         	font-size: small;
         	font-family:"Arial Narrow";
         	color: #AAAAAA;
         	margin: 0 
         }
         #footermenu2{
         	float: right
         }
          #footermenu2 li {
         	text-align:right;
         	list-style-type:none; 
         	width:12em;
         }
          #footermenu2 li a{
         	text-decoration: none;
         	font-size: small;
         	font-family:"Arial Narrow";
         	color: #AAAAAA
         }
footer{
	background-color: black;
	
}
